# State
[:books: **Documentation**](#api)  |  [:bar_chart: **Benchmarks**](https://pqml.github.io/state)  |  [:globe_with_meridians: **Internet modules**](https://www.npmjs.com/org/internet)

- Create tiny signal-based stores
- `Signal` class to create your own signals

<br>

# Requirements

- ES6 Modules support
  - Using a module bundler like Webpack, Rollup or Parcel
  - [Native support from browser](https://caniuse.com/#feat=es6-module)
  - From NodeJS with something like [esm](https://github.com/standard-things/esm)

<br>

# Module Installation

```sh
# using npm
$ npm install --save @internet/state

# or using yarn
$ yarn add @internet/state
```

<br>

<a name="api"></a>
# API

```js
import { createStore, Signal } from '@internet/state'
```

- [:mailbox_with_mail: **createStore**](#createStore): _Create a new store: a collection of [StoreSignal](#StoreSignal) instances_
- [:satellite: **Signal**](#Signal): _Signal class_

<br>

<a name="createStore"></a>
## :mailbox_with_mail: createStore()
{{#globals name="createStore"}}
{{>body~}}
{{/globals}}

<br>

<a name="StoreSignal"></a>
## :mailbox_with_mail: StoreSignal
{{#globals name="StoreSignal"}}
{{>body~}}
#### API
{{>member-index~}}
<br>
{{>members~}}
{{/globals}}

<br>

<a name="Signal"></a>
## :satellite: Signal
{{#globals name="Signal"}}
{{>body~}}
#### API
{{>member-index~}}
<br>
{{>members~}}
{{/globals}}
