# Maths utilities
[:books: **Documentation**](#api)  |  [:globe_with_meridians: **Internet modules**](https://www.npmjs.com/org/internet)

<br>

# Requirements

- ES6 Modules support
  - Using a module bundler like Webpack, Rollup or Parcel
  - [Native support from browser](https://caniuse.com/#feat=es6-module)
  - From NodeJS with something like [esm](https://github.com/standard-things/esm)

<br>

# Module Installation

```sh
# using npm
$ npm install --save @internet/maths

# or using yarn
$ yarn add @internet/maths
```

<br>

<a name="api"></a>
# API

<a name="module_maths"></a>
{{#module name="maths"}}
{{>body~}}
#### API
{{>member-index~}}
<br>
{{>members~}}
{{/module}}
